{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
  <h2>Movie Requests</h2>
  <a class="btn btn-primary mb-3" href="{% url 'create_petition' %}">Create New Request</a>

  <ul class="list-group">
    {% for petition in petitions %}
      <li class="list-group-item">
        <h5>{{ petition.title }}</h5>
        <p>{{ petition.description }}</p>
        <small>Created by {{ petition.created_by.username }} on {{ petition.created_at|date:"M d, Y" }}</small>
        <p>Yes: {{ petition.yes_votes }} | No: {{ petition.no_votes }}</p>
        <a href="{% url 'vote_yes' petition.id %}" class="btn btn-success btn-sm">Vote Yes</a>
        <a href="{% url 'vote_no' petition.id %}" class="btn btn-danger btn-sm">Vote No</a>
        
        {% if petition.created_by == user %}
          <a href="{% url 'delete_petition' petition.id %}" class="btn btn-danger btn-sm">Delete Request</a>
        {% endif %}
      </li>
    {% empty %}
      <li class="list-group-item">No movie requests yet.</li>
    {% endfor %}
  </ul>
</div>
{% endblock %}